{{! Features Tab }}
<section
  class='tab features {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <section class='grid grid-3col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              for='system.abilities.{{key}}.value'
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{localize (lookup @root.config.abilities key)}}</label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              data-dtype='Number'
            />
            <span
              class='ability-mod rollable'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
        {{/each}}
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-2'>
      <ol class='items-list'>
        <li class='item flexrow items-header'>
          <div class='item-name'>{{localize 'Name'}}</div>
          <div class='item-controls'>
            {{#if @root.editable}}
              <a
                class='item-control item-create'
                title='Create item'
                data-action='createDoc'
                data-document-class='Item'
                data-type='feature'
              >
                <i class='fas fa-plus'></i>
                {{localize 'DOCUMENT.New' type='feature'}}
              </a>
            {{/if}}
          </div>
        </li>
        {{#each features as |item id|}}
          <li
            class='item flexrow'
            data-item-id='{{item._id}}'
            data-drag='true'
            data-document-class='Item'
          >
            <div class='item-name'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='roll'>
                  <img
                    src='{{item.img}}'
                    title='{{item.name}}'
                    width='24'
                    height='24'
                  />
                </a>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class='item-controls'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Edit" type='feature'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
              {{#if @root.editable}}
                <a
                  class='item-control item-delete'
                  title='{{localize "DOCUMENT.Delete" type='feature'}}'
                  data-action='deleteDoc'
                >
                  <i class='fas fa-trash'></i>
                </a>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>