<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    title='{{item.name}}'
  />
  <div class='header-fields'>
    <h1 class='charname'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </h1>
    {{! You may prefer to have a separate header file instead of this if statement}}
    {{#if (eq item.type 'gear')}}
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'BOILERPLATE.Item.Gear.FIELDS.quantity.label'}}</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'BOILERPLATE.Item.Gear.FIELDS.weight.label'}}</label>
          <input
            type='text'
            name='system.weight'
            value='{{system.weight}}'
            data-dtype='Number'
          />
        </div>
      </div>
    {{/if}}
  </div>
</header>